@using System.Web.Mvc
@using System.Web.Mvc.Html

@{
    <link rel="stylesheet" href="/css/style.min.css" />
}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" initial-scale="1.0" />
        <title>Welcome to the Donghoons's Page</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
