@using Family.ModelProperty

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="/css/Home/Home.min.css" />

<div class="container">
    <div class="hero">
        <h2>행복한 우리 가족</h2>
        <p>김동훈♡황옥주♡김태건♡김태린<br />힘든일이라도 함께라면 모두 이겨낼수 있어 사랑해 ♡</p>
        <button type="button" onclick="location.href='https://www.youtube.com/watch?v=JoiUC8j7bv4'">Watch Videos</button>
    </div>
</div>