@{
    Layout = "../Shared/_Layout";
}

<link rel="stylesheet" href="/css/Gallery.min.css"/>

<h1>Gallery</h1>
<div class="container">
    <div class="images">
        <div class="imageFlex1">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
        </div>
    </div>
    <div class="images">
        <div class="imageFlex2">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
        </div>
    </div>
    <div class="images">
        <div class="imageFlex3">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
            <img src="./images/family.jpg">
        </div>
    </div>
</div>